---
import Card from '../../components/Card.astro';
import { GithubIcon, LinkedinIcon, TwitterIcon } from 'astro-feather';
import BlueskyIcon from '../../components/BlueskyIcon.astro';
---

<section id="contacts">
  <div id="container">
    <Card title="My Socials">
      <p id="card-p">
        Let's connect! You can find me on these platforms, but I am most active
        on my Twitter (X) account where I share insights on tech, my projects,
        and what I'm currently working on. Feel free to reach out!
      </p>
    </Card>
    <div id="links">
      <a class="social-link github" href="https://github.com/secona" target="_blank" rel="noopener noreferrer" >
        <GithubIcon />
        <p>@secona</p>
      </a>
      <a class="social-link linkedin" href="https://linkedin.com/in/secona" target="_blank" rel="noopener noreferrer">
        <LinkedinIcon />
        <p>@secona</p>
      </a>
      <a class="social-link twitter" href="https://x.com/secona0" target="_blank" rel="noopener noreferrer">
        <TwitterIcon />
        <p>@secona0</p>
      </a>
      <a class="social-link bsky" href="https://bsky.app/profile/secona.dev" target="_blank" rel="noopener noreferrer">
        <BlueskyIcon />
        <p>@secona.dev</p>
      </a>
    </div>
  </div>
</section>

<style lang="scss">
#contacts {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: transparent;
  padding: 0 1.5rem;

  > #container {
    display: flex;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: start;
    }

    @media (max-width: 768px) {
      align-items: stretch;
      flex-direction: column;
    }
  }
}

#card-p {
  max-width: 24rem;
}

#links {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    gap: 1rem;
  }

  @media (max-width: 768px) {
    gap: 0.5rem;
  }
}

.social-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: white;

  border-width: 2px;
  border-color: black;
  border-radius: var(--rounded);

  padding: 0.5rem 1.5rem;

  box-shadow: var(--hard-shadow);

  &.github { background-color: #333333; }
  &.linkedin { background-color: #0077b5; }
  &.twitter { background-color: #1DA1F2; }
  &.bsky { background-color: #0085ff; }
}
</style>
