---
import { getCollection, getEntry, render } from "astro:content";
import NavbarLayout from "../../layouts/NavbarLayout.astro";
import Card from "../../components/Card.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map(blog => ({ params: { slug: blog.id } }))
}

const { slug } = Astro.params;
const entry = await getEntry('blogs', slug);

if (!entry) throw new Error("blog not found");

const { Content } = await render(entry);
---

<NavbarLayout>
  <main class="max-w-screen-xl py-24 mx-auto flex flex-col gap-4">
    <Card disableTitlebar>
      <h1 class="text-4xl">{entry.data.title}</h1>
      <p>{entry.data.description}</p>
    </Card>
    <Card disableTitlebar>
      <Content />
    </Card>
  </main>
</NavbarLayout>
