---
import { getCollection, getEntry, render } from "astro:content";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map(blog => ({ params: { slug: blog.id } }))
}

const { slug } = Astro.params;
const entry = await getEntry('blog', slug);

if (!entry) throw new Error("blog not found");

const { Content } = await render(entry);
---

<h1>{entry.data.title}</h1>
<Content />
