---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl">Hello World! My name is Secona.</h1>

  <section class="max-w-96">
    <h1>About Me</h1>
    <p>
      I’m a Computer Science student at Universitas Indonesia, where I began on
      my journey in 2023. I’m passionate about software engineering, with a keen
      focus on designing fast and high-performance solutions.
    </p>
    <br>
    <p>
      My interests include artificial intelligence, computer systems, compiler
      development, and building performance-intensive applications. I also enjoy
      participating in Capture The Flag (CTF) competitions, specializing in web
      exploitation and forensics.
    </p>
    <br>
    <p>
      I thrive on tackling new challenges, collaborating with like-minded
      individuals, and turning creative ideas into impactful solutions.
    </p>
  </section>
</Layout>
