---
interface Props {
  title?: string;
}

const { title = "" } = Astro.props;
---

<div id="container" class="shadow-hard rounded-lg">
  <div class="flex justify-between py-2 px-4 border-2 border-black bg-orange-400 rounded-t-lg">
    <h1>{title}</h1>
    <span>ooo</span>
  </div>
  <div class="px-6 pt-4 pb-6 rounded-y-lg rounded-b-lg bg-white border-x-2 border-b-2 border-black">
    <slot />
  </div>
</div>

<style>
div#container {
  box-shadow: var(--hard-shadow);
}
</style>
