---
interface Props {
  title?: string;
}

const { title = "" } = Astro.props;
---

<div id="container">
  <div id="titlebar">
    <h1>{title}</h1>
    <span>ooo</span>
  </div>
  <div id="content">
    <slot />
  </div>
</div>

<style>
div#container {
  box-shadow: var(--hard-shadow);
  border-radius: var(--rounded);

  & > div#titlebar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    background-color: var(--orange-400);

    border-color: black;
    border-width: 2px;
    border-radius: var(--rounded) var(--rounded) 0 0;
  }

  & > div#content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    background-color: white;

    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
    border-width: 0 2px 2px 2px;
    border-color: black;
  }
}
</style>
