---
interface Props {
  title?: string;
  disableTitlebar?: boolean;
  noHover?: boolean;
}

const { title = "", disableTitlebar = false, noHover = false } = Astro.props;
---

<div id="card-container" class:list={{ 'no-hover': noHover }}>
  {!disableTitlebar && (
    <div id="titlebar">
      <slot name="titlebar">
        <h1>{title}</h1>
        <span>ooo</span>
      </slot>
    </div>
  )}
  <div id="content" class:list={{ disableTitlebar }}>
    <slot />
  </div>
</div>

<style>
div#card-container {
  box-shadow: var(--hard-shadow);
  border-radius: var(--rounded);

  &:not(.no-hover) {
    transition: transform 0.2s ease;

    &:hover {
      transform: translate(-3px, -3px);
    }
  }

  & > div#titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    background-color: var(--teal-400);

    border-color: black;
    border-width: 2px;
    border-radius: var(--rounded) var(--rounded) 0 0;

    h1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  & > div#content {
    padding: 1rem 1.5rem 1.5rem 1.5rem;

    background-color: white;

    border-bottom-left-radius: var(--rounded);
    border-bottom-right-radius: var(--rounded);
    border-width: 0 2px 2px 2px;
    border-color: black;

    &.disableTitlebar {
      border-top-right-radius: var(--rounded);
      border-top-left-radius: var(--rounded);
      border-top-width: 2px;
      padding: 1rem 1.5rem !important;
    }
  }
}
</style>
