---
import { GithubIcon, LinkedinIcon, TwitterIcon, MailIcon } from 'astro-feather';
import BlueskyIcon from './BlueskyIcon.astro';
import Card from './Card.astro';
import ButtonLink from './ButtonLink.astro';
---

<section id="contacts">
  <div id="container">
    <Card title="Contacts">
      <p id="contacts-greetings">
        Let's connect! You can find me on these platforms, but I am most active
        on my Twitter (X) account where I share insights on tech, my projects,
        and what I'm currently working on. Feel free to reach out!
      </p>
    </Card>
    <div id="contacts-links">
      <ButtonLink href="mailto:secona00@gmail.com" bgColor="#2d6a4f" align="left">
        <MailIcon />
        secona00@gmail.com
      </ButtonLink>
      <ButtonLink href="https://github.com/secona" bgColor="#333333" target="_blank" rel="noopener noreferrer" align="left">
        <GithubIcon />
        @secona
      </ButtonLink>
      <ButtonLink href="https://linkedin.com/in/secona" bgColor="#0077b5" target="_blank" rel="noopener noreferrer" align="left">
        <LinkedinIcon />
        @secona
      </ButtonLink>
      <ButtonLink href="https://x.com/secona0" bgColor="#1DA1F2" target="_blank" rel="noopener noreferrer" align="left">
        <TwitterIcon />
        @secona0
      </ButtonLink>
      <ButtonLink href="https://bsky.app/profile/secona.dev" bgColor="#0085ff" target="_blank" rel="noopener noreferrer" align="left">
        <BlueskyIcon />
        @secona.dev
      </ButtonLink>
    </div>
  </div>
</section>

<style lang="scss">
@use '../styles/mixins' as *;

#contacts {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: transparent;
  padding: 0 1.5rem;

  #container {
    display: flex;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: start;
    }

    @media (max-width: 768px) {
      align-items: stretch;
      flex-direction: column;
    }

    #contacts-greetings {
      max-width: 24rem;
    }

    #contacts-links {
      display: flex;
      flex-direction: column;
      color: white;

      @media (min-width: 768px) {
        gap: 1rem;
      }

      @media (max-width: 768px) {
        gap: 0.5rem;
      }
    }
  }
}
</style>
