<footer>
  <p>Made with ❤️ by Vito</p>
</footer>

<style>
footer {
  background-color: black;
  color: var(--gray-400);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
