---
import { ExternalLinkIcon } from 'astro-feather';
import Card from './Card.astro';
import ButtonLink from './ButtonLink.astro';
---

<section id="introduction">
  <div id="container">
    <Card title="Introduction">
      <p>
        Hello, everyone! My name is Vito. I am a final-year undergraduate student at
        Universitas Indonesia with a strong interest in compilers.
      </p>
      <br />
      <p>
        In my free time, I contribute to <a href="https://github.com/llvm/llvm-project/pulls?q=is%3Apr+author%3Asecona">The LLVM Project</a>,
        mainly the MLIR subproject. I also have a compiler project named
        <a href="https://github.com/belalang-project/belalang">Belalang</a>, which
        uses LLVM technologies.
      </p>
    </Card>
    <ButtonLink href="/secona-cv.pdf" variant="outline" target="_blank" rel="noopener noreferrer">
      My CV <ExternalLinkIcon size={16} />
    </ButtonLink>
  </div>
</section>

<style lang="scss">
@use '../styles/mixins' as *;

p > a {
  color: var(--teal-600);
  font-weight: 600;
}

#introduction {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  #container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-end;
    max-width: 38rem;
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (min-width: 768px) {
      padding-left: 7rem;
      padding-right: 7rem;
    }
  }
}
</style>
