---
import { GithubIcon, LinkedinIcon, TwitterIcon, MenuIcon } from "astro-feather";
---

<nav id="container">
  <div>
    <a href="/"><strong>secona.dev</strong></a>
    <div class="links desktop">
      &mdash;
      <a href="#experiences" class="underline">Experiences</a> &mdash;
      <a href="#projects" class="underline">Projects</a> &mdash;
      <a href="#contacts" class="underline">Contacts</a>
    </div>
  </div>

  <div class="links-external desktop">
    <a aria-label="GitHub Profile" href="https://github.com/secona" target="_blank" rel="noopener noreferrer">
      <GithubIcon size={18} />
    </a>
    <a aria-label="LinkedIn Profile" href="https://linkedin.com/in/secona" target="_blank" rel="noopener noreferrer">
      <LinkedinIcon size={18} />
    </a>
    <a aria-label="Twitter Profile" href="https://x.com/secona0" target="_blank" rel="noopener noreferrer">
      <TwitterIcon size={18} />
    </a>
  </div>

  <button id="open-menu-button" class="mobile">
    <MenuIcon size={18} />
  </button>

  <div id="links-dropdown">
    <div id="links-internal">
      <a href="#experiences">Experiences</a>
      <a href="#projects">Projects</a>
      <a href="#contacts">Contacts</a>
    </div>
    <div id="links-external">
      <a href="https://github.com/secona" target="_blank" rel="noopener noreferrer">
        GitHub
      </a>
      <a href="https://linkedin.com/in/secona" target="_blank" rel="noopener noreferrer">
        LinkedIn
      </a>
      <a href="https://x.com/secona0" target="_blank" rel="noopener noreferrer">
        Twitter
      </a>
    </div>
  </div>
</nav>

<style lang="scss">
#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: var(--rounded);
  box-shadow: var(--hard-shadow);
  padding: 0.5rem 1.5rem;

  position: fixed;
  top: 1rem;
  right: 1rem;
  left: 1rem;

  z-index: 50;

  .links {
    display: inline;
  }

  .links-external {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #links-dropdown {
    display: none;

    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    padding: 1rem 1.5rem;

    background: white;
    border: 2px solid black;
    border-radius: var(--rounded);
    box-shadow: var(--hard-shadow);

    > #links-internal {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    > #links-external {
      display: flex;
      flex-direction: column;
    }
  }

  .desktop {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
</style>
