---
import Card from '../components/Card.astro';
import { GithubIcon, LinkedinIcon, TwitterIcon } from 'astro-feather';
---

<section id="contacts" class="min-h-screen grid place-items-center bg-transparent px-6">
  <div class="flex flex-col md:flex-row items-stretch md:items-start gap-4">
    <Card title="My Socials">
      <p class="max-w-96">
        Let's connect! You can find me on these platforms, but I am most active
        on my Twitter (X) account where I share insights on tech, my projects,
        and what I’m currently working on. Feel free to reach out!
      </p>
    </Card>
    <div class="flex flex-col gap-2">
      <a href="https://github.com/secona" class="flex flex-row gap-4 text-white bg-[#333333] border-2 border-black rounded-lg shadow-hard px-6 py-2">
        <GithubIcon />
        <p>@secona</p>
      </a>
      <a href="https://linkedin.com/in/secona" class="flex flex-row gap-4 text-white bg-[#0077b5] border-2 border-black rounded-lg shadow-hard px-6 py-2">
        <LinkedinIcon />
        <p>@secona</p>
      </a>
      <a href="https://x.com/bahasakarat" class="flex flex-row gap-4 text-white bg-[#1DA1F2] border-2 border-black rounded-lg shadow-hard px-6 py-2">
        <TwitterIcon />
        <p>@bahasakarat</p>
      </a>
    </div>
  </div>
</section>
