---
import { ExternalLinkIcon } from "astro-feather"
import Card from "../components/Card.astro"
---

<section class="grid grid-cols-1 place-items-center [&>*]:py-20 xl:[&>*]:py-24 [&>*]:px-6 sm:[&>*]:px-16 md:[&>*]:px-28 xl:[&>*]:px-20 bg-yellow-300 border-y-2 border-black">
  <div class="flex flex-col gap-2 justify-center items-end max-w-5xl">
    <Card title="Introduction">
      <p>
        Hello, everyone! My name is Vito. I am a second-year undergraduate student at
        Universitas Indonesia. I have a strong interest in systems programming and
        software engineering research.
      </p>
      <br />
      <p>
        I have been programming using Rust, JS/TS, Python, and Go. While I have most
        experiences in web development, I have made Rust my main focus in my software
        engineering career, focusing on systems development and compiler development.
      </p>
    </Card>
    <a href="/secona-cv.pdf" target="_blank" rel="noopener noreferrer" class="flex flex-row items-center gap-2 px-4 py-2 bg-white border-2 border-black shadow-hard rounded-lg">
      <span>View My CV</span> <ExternalLinkIcon />
    </a>
  </div>
</section>
