---
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { GithubIcon } from "astro-feather";

const data = [
  {
    name: "secona/belalang",
    description: 
      "Belalang is a simple interpreted language written in The Rust Programming Language. " +
      "Its architecture includes a compiler and a custom-built bytecode stack-based virtual machine. " +
      "Belalang's syntax is inspired by Go and Python, designed to be easy to understand by a beginner coder.",
    tags: ["Rust", "Compiler", "Virtual Machine"],
    links: [
      {
        icon: GithubIcon,
        href: "https://github.com/secona/belalang",
        label: "Belalang GitHub Repository"
      }
    ]
  },
  {
    name: "secona/kflap",
    description:
      "(Work in Progress) KFLAP is a JFLAP clone written in C++. " +
      "KFLAP aims to be fully compatible with the JFLAP format, ensuring backward compatibility while providing a modern and efficient user experience.",
    tags: ["C/C++", "Meson", "Nix", "Formal Language & Automata Theory"],
    links: [
      {
        icon: GithubIcon,
        href: "https://github.com/secona/kflap",
        label: "KFLAP GitHub Repository"
      }
    ]
  },
  {
    name: "secona/neoman",
    description:
      "(Work in Progress) Neoman is an API testing tool similar to Postman, but in the terminal.",
    tags: ["Rust", "Postman", "TUI", "CLI"],
    links: [
      {
        icon: GithubIcon,
        href: "https://github.com/secona/kflap",
        label: "KFLAP GitHub Repository"
      }
    ]
  },
  {
    name: "secona/kerang",
    description:
      "Kerang is a toy shell written in C. " +
      "The goal of Kerang is for me to understand how shells work under the hood and deepen my C and Linux syscalls knowledge",
    tags: ["C", "Shell", "Linux"],
    links: [
      {
        icon: GithubIcon,
        href: "https://github.com/secona/kerang",
        label: "Kerang GitHub Repository"
      }
    ]
  },
];
---

<section id="projects">
  <div class="projects-sidebar">
    <Card title="My Projects">
      <p>
        Here's a sneak peek into some of my open source projects that I've
        built! I have a strong interest in systems programming and programming
        language theory.
      </p>
    </Card>
  </div>
  <div class="projects-list">
    {
      data.map((d) => (
        <ProjectCard
          name={d.name}
          description={d.description}
          tags={d.tags}
          links={d.links}
        />
      ))
    }
  </div>
</section>

<style>
#projects {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 2fr;
  }

  .projects-sidebar {
    background-color: var(--red-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    top: 0;

    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;

    @media (max-width: 1280px) {
      border-top: 2px solid black;
      border-right: none;
    }

    @media (min-width: 1280px) {
      position: sticky;
      border-right: 2px solid black;
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & > :not(:last-child) {
    border-inline-start-width: 0px;
    border-inline-end-width: 2px;
    border-color: black;
  }

  & > * {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 1280px) {
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 5rem;
      padding-right: 5rem;
    }
    @media (min-width: 640px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}
</style>
