<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>secona.dev | Software Engineer</title>
  </head>
  <body>
    <nav>
      <strong>secona.dev</strong> &mdash;
      <a href="/">Home</a> &mdash;
      <a href="/experiences">Experiences</a> &mdash;
      <a href="/projects">Projects</a> &mdash;
      <a href="/contacts">Contacts</a>
    </nav>
    <slot />
  </body>
</html>
