<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>secona.dev | Software Engineer</title>
  </head>
  <body>
    <nav>
      <strong>secona.dev</strong> &mdash;
      <a href="/">Home</a> &mdash;
      <a href="/experiences">Experiences</a> &mdash;
      <a href="/projects">Projects</a> &mdash;
      <a href="/contacts">Contacts</a>
    </nav>
    <slot />
  </body>
</html>

<style is:global>
body {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}
</style>
